//320+
@media screen and (min-width: 320px) {
  .mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--hero-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    overflow: auto;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &__close-btn {
      display: flex;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 10px;
      right: 15px;
      background-color: transparent;
      border: none;
      padding: 0;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    &__icon {
      width: 19px;
      height: 19px;
      fill: var(--head-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__close-btn:hover .mobile-menu__icon,
    &__close-btn:focus .mobile-menu__icon {
      fill: var(--accent-color);
    }

    &__navigation {
      margin-bottom: 302px;
    }

    &__container {
      padding-left: 25px;
      padding-top: 48px;
      padding-bottom: 48px;
    }

    &__social {
      display: flex;
      margin-top: 64px;
    }

    &__social-item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__social-link {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: var(--accent-color);
    }

    &__link {
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: var(--head-color);
      text-decoration: none;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__phone {
      margin-bottom: 32px;
    }

    &__phone-link {
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: var(--accent-color);
    }

    &__mail-link {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: var(--title-color);
    }

    &__instagram {
      &::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 0px;
        left: 110px;
        top: 722px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
      }
    }

    &__twitter {
      &::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 0px;
        left: 189px;
        top: 722px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
      }
    }

    &__facebook {
      &::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 0px;
        left: 290px;
        top: 722px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
      }
    }

    &__link {
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    &__link-studio {
      color: var(--accent-color);
    }
    &__link-portfolio {
      color: var(--accent-color);
    }
  }
}
